<meta charset="utf-8"> 
<h1>Список сотрудников входящих в ППО УП "Белаэрокосмогеодезия":</h1>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      
      <% if current_user %>
        <% if current_user.email =='igormanxxx@yandex.ru' %>
        <th>Телефон</th>
          <th>Картсчет</th>
         <% end %>  
          <% end %>    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usersprofs.each do |usersprof| %>
      <tr>
        <td><%= usersprof.name %></td>
        
<% if current_user %>
  <% if current_user.email =='igormanxxx@yandex.ru' %>
        <td><%= usersprof.telefon %></td>
        <td><%= usersprof.kartschet %></td>
        <td><%= link_to 'Show', usersprof %></td>
        <td><%= link_to 'Edit', edit_usersprof_path(usersprof) %></td>
        <td><%= link_to 'Destroy', usersprof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>  
<% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<p>Всего сотрудников входящих в ППО УП "Белаэрокосмогеодезия": <%= @count_users %></p>

<br>
<% if current_user %>
  <% if current_user.email =='igormanxxx@yandex.ru' %>
<%= link_to 'New Usersprof', new_usersprof_path %>
  <% end %>  
<% end %>  